*,
::after,
::before {
  padding: 0;
  margin: 0;
}

html {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

nav ul {
  background-color: blanchedalmond;
  font-family: Georgia, "Times New Roman", Times, serif;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul li {
  width: 100%;
  height: 100%;
  border-right: black 2px solid;
  border-left: black 2px solid;
  border-top: black 3px solid;
  border-bottom: black 3px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  color: black;
}

nav ul li a {
  -webkit-transition: all 1s;
  transition: all 1s;
}

nav ul li a:link {
  color: black;
}

nav ul li a:visited {
  color: black;
}

nav ul li a:hover {
  color: red;
}

li {
  list-style-type: none;
}

section {
  background-color: oldlace;
  width: 30vw;
  height: 80vh;
  border-radius: 3vw;
  border: 3px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .type {
  width: 100px;
  border-radius: 10px;
  color: white;
  text-align: center;
  border: 2px solid black;
  margin-bottom: 20px;
}

section .normal {
  background-color: #A8A878;
}

section .fire {
  background-color: #F27830;
}

section .fighting {
  background-color: #C03028;
}

section .water {
  background-color: #6890F0;
}

section .flying {
  background-color: #A890F0;
}

section .poison {
  background-color: #A040A0;
}

section .electric {
  background-color: #F9D546;
}

section .ground {
  background-color: #E0C068;
}

section .psychic {
  background-color: #F25790;
}

section .rock {
  background-color: #B8A038;
}

section .ice {
  background-color: #98D8D8;
}

section .bug {
  background-color: #A8B820;
}

section .dragon {
  background-color: #7038F8;
}

section .ghost {
  background-color: #705898;
}

section .dark {
  background-color: #705848;
}

section .steel {
  background-color: #B8B8D0;
}

section .fairy {
  background-color: #EE99AC;
}

section h1 {
  text-align: center;
  margin: 10px 0;
  font-size: 2rem;
}

section img {
  width: 40%;
  background-color: #b9d8ff;
  border-radius: 10px;
  border: 3px solid black;
  padding: 4%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 10px;
}

section h2 {
  text-align: center;
  margin-bottom: 10px;
}

section div {
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 100%;
  margin: 0;
  margin-left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section div div {
  width: 45%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

section div div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 80%;
  border-bottom: 3px black solid;
}

section div div div div {
  border: none;
}

section div div div .statVal {
  width: auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
/*# sourceMappingURL=style.css.map */