*,
::after,
::before {
  padding: 0;
  margin: 0;
}

.auto {
  background: #4e813a;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(78, 129, 58, 0.981127)), color-stop(14%, #73b858), color-stop(34%, #6ecc3e), color-stop(36%, #4dbb30), color-stop(37%, #c0e6ff), color-stop(73%, #bae8fd), to(#59aec0));
  background: linear-gradient(0deg, rgba(78, 129, 58, 0.981127) 0%, #73b858 14%, #6ecc3e 34%, #4dbb30 36%, #c0e6ff 37%, #bae8fd 73%, #59aec0 100%);
}

.sel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul {
  background-color: #f3841d;
  font-family: 'Times New Roman', serif;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

nav ul li {
  width: 100%;
  height: 100%;
  border-right: black 2px solid;
  border-left: black 2px solid;
  border-top: black 3px solid;
  border-bottom: black 3px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  color: black;
}

nav ul li a {
  -webkit-transition: all 1s;
  transition: all 1s;
}

nav ul li a:link {
  color: black;
}

nav ul li a:visited {
  color: black;
}

nav ul li a:hover {
  color: #ffbc40;
}

li {
  list-style-type: none;
}

html {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

section {
  margin-top: 20px;
  background-color: #d35454;
  width: 30vw;
  height: 80vh;
  border-radius: 3vw;
  border: 3px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .type {
  width: 100px;
  border-radius: 10px;
  color: white;
  text-align: center;
  border: 2px solid black;
  margin-bottom: 20px;
}

section .normal {
  background-color: #a8a878;
}

section .fire {
  background-color: #f27830;
}

section .fighting {
  background-color: #c03028;
}

section .water {
  background-color: #6890f0;
}

section .flying {
  background-color: #a890f0;
}

section .poison {
  background-color: #a040a0;
}

section .electric {
  background-color: #f9d546;
}

section .ground {
  background-color: #e0c068;
}

section .psychic {
  background-color: #f25790;
}

section .rock {
  background-color: #b8a038;
}

section .ice {
  background-color: #98d8d8;
}

section .bug {
  background-color: #a8b820;
}

section .dragon {
  background-color: #7038f8;
}

section .ghost {
  background-color: #705898;
}

section .dark {
  background-color: #705848;
}

section .steel {
  background-color: #b8b8d0;
}

section .fairy {
  background-color: #ee99ac;
}

section h1 {
  text-align: center;
  margin: 10px 0;
  font-size: 2rem;
}

section img {
  width: 38%;
  background-color: #b9d8ff;
  border-radius: 10px;
  border: 3px solid black;
  padding: 4%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 10px;
}

section h2 {
  text-align: center;
  margin-bottom: 10px;
}

section div {
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 100%;
  margin: 0;
  margin-left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section div div {
  width: 45%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

section div div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 80%;
  border-bottom: 3px black solid;
}

section div div div div {
  border: none;
}

section div div div .statVal {
  width: auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main {
  margin-top: 250px;
  height: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: url(image/pokeball.png), pointer;
}

.selMander img {
  width: 230px;
}

.selMeleon img {
  width: 240px;
}

.selIzard img {
  width: 300px;
}

.selIzard {
  width: 310px;
  height: 300px;
}

.selMeleon {
  width: 300px;
  height: 300px;
}

.selMander {
  width: 280px;
  height: 300px;
}
/*# sourceMappingURL=style.css.map */