*,
::after,
::before {
    padding: 0;
    margin: 0;
}

nav {
    ul {
        background-color: blanchedalmond;
        font-family: Georgia, "Times New Roman", Times, serif;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
        height: 3rem;
        align-items: center;
        // border: black 3px solid;
		li {
			width: 100%;
			height: 100%;
			border-right: black 2px solid;
			border-left: black 2px solid;
			border-top: black 3px solid;
			border-bottom: black 3px solid;
			
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			font-size: 1.5rem;
			color: black;
			a {
				transition: all 1s;
			}
			a:link {
				color: black;
			}
			a:visited {
				color: black;
			}
			a:hover {
				color: red;
			}
		}
    }
}
